{% extends '_layout.html' %}
{% load render_partial %}
{% block title %}
    پنل کاربری | ویرایش مشخصات
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel.views.list_component' %}
            </div>
            <div class="col-md-8">
                <form action="{% url 'user_panel_password' %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="ویرایش" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock %}