{% extends '_layout.html' %}
{% block title %}
    ارتباط با ما
{% endblock %}

{% block content %}
    {% for x in form.errors %}
        {{ x }}
        {{ x.error }}
    {% endfor %}
    <div class="row">
        <div class="col-sm-8">
            <div class="contact-form">
                <h2 class="title text-center">با ما در ارتباط باشیـد</h2>
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group col-md-12 {% if field.errors %} text-danger {% endif %}">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
{#                    <div class="form-group col-md-6">#}
{#                        {{ form.name.label }}#}
{#                        {{ form.name }}#}
{#                        {{ form.name.errors }}#}
{#                    </div>#}
{#                    <div class="form-group col-md-6">#}
{#                        {{ form.email.label }}#}
{#                        {{ form.email }}#}
{#                        {{ form.email.errors }}#}
{#                    </div>#}
{#                    <div class="form-group col-md-12">#}
{#                        {{ form.subject.label }}#}
{#                        {{ form.subject }}#}
{#                        {{ form.subject.errors }}#}
{#                    </div>#}
{#                    <div class="form-group col-md-12">#}
{#                        {{ form.message.label }}#}
{#                        {{ form.message }}#}
{#                        {{ form.message.errors }}#}
{#                    </div>#}
                    <input type="submit" value="ارسال" class="btn btn-warning">
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contact-info">
                <h2 class="title text-center">اطلاعات تماس</h2>
                <address>
                    <p>{{ about_us.site_name }}</p>
                    <p>{{ about_us.address }}</p>
                    <p>تلفن تماس : {{ about_us.phone }}</p>
                    <p>فکس : {{ about_us.fax }}</p>
                    <p style="font-family: tahoma;">ایمیـل : {{ about_us.email }}</p>
                </address>
            </div>
        </div>
    </div>
{% endblock %}