{% extends '_layout.html' %}
{% block title %}
    ارتباط با ما
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="contact-form">
                <h2 class="title text-center">عکس های پروفایل</h2>
                <div>
                    {% for profile in profiles %}
                        <img src="{{ profile.image.url }}" width="100">
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}