{% extends '_layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% load static %}
{% block title %}
    جزئیات محصول |{{ product.title }}
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9 padding-right">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                {% if product.image %}
                                    <img id="product_image_gallery" src="{{ product.image.url }}" alt="">
                                {% else %}
                                    <img src="{% static 'images/shop/product.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    {% for group in galleries %}
                                        <div class="item {% if forloop.first %}active{% endif %}">
                                            {% for gallery in group %}
                                                <a onclick="changeImage('{{ gallery.image.url }}')"><img width="75" src="{{ gallery.image.url }}" alt=""></a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}


                                </div>

                                <!-- Controls -->
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <img src="images/product-details/new.png" class="newarrival" alt="">
                                <div>
                                    <h2>کـالای شمـاره {{ product.id }}</h2>
                                    <p>شناسـه : {{ product.id }}</p>
                                </div>
                                <div>
									<span>
										<span>قیمت : {{ product.price | three_digit_currency }} ريال</span>
									</span>
                                    <span>
										<label>تعداد :</label>
                                        <input type="number" value="1" min="1" name="product_count" id="product_count" >
										<button onclick="addToOrder({{ product.id }})" type="button" class="btn btn-fefault cart">
											<i class="fa fa-shopping-cart"></i>
											افـزودن به سبـد خریـد
										</button>
									</span>
                                    <span>
                                        {% if is_favorite %}
                                            <h2>در لیست مورد علاقه ها میباشد</h2>
                                        {% else %}
                                            <div>
                                                <form action="{% url 'add_session' %}" method="post">
                                                    {% csrf_token %}
                                                    <input name="product_slug" type="hidden" value="{{ product.slug }}">
                                                    <button class="btn btn-success" type="submit">افزودن به لیست مورد علاقه ها</button>
                                                </form>
                                            </div>
                                        {% endif %}
                                    </span>
                                </div>
                                <div>
                                    <p><b>موجـودی :</b> در انبـار موجود می باشد</p>
                                    <p><b>شرایـط :</b> جدیـد</p>
                                    <p><b>برنـد :</b> {{ product.brand.title }} </p>
                                </div>
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li><a href="#details" data-toggle="tab">جزئیات</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="details">
                                {% for related_product in related_products %}
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{{ related_product.image.url }}" alt="">
                                                <h2>{{ related_product.price | three_digit_currency }}</h2>
                                                <p>{{ related_product.title }}</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div><!--/category-tab-->


                </div>

                {% render_partial 'product.views.right_sidbar_component' %}

            </div>
        </div>
    </section>
{% endblock %}