<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>دسته بندی محصولات</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            {% for category in categories %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="{% url 'product_by_cat' slug=category.slug %}">
                                {{ category.title }}
                            </a>
                        </h4>
                    </div>
                </div>
            {% endfor %}

        </div><!--/category-productsr-->


        <div class="brands_products"><!--brands_products-->
            <h2>برنـد ها</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    {% for brand in brands %}
                        <li><a href="{% url 'product_by_brand' brand_slug=brand.slug %}"> <span class="pull-left">({{ brand.count }})</span>{{ brand.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div><!--/brands_products-->




    </div>
</div>